.active {
	color: red;
}

@font-face {
	font-family: Bitter-Bold;
	src: url('../fonts/Bitter-Bold.ttf');
}

@font-face {
	font-family: Bitter-Regular;
	src: url('../fonts/Bitter-Regular.ttf');
}

@font-face {
	font-family: Bitter-Italic;
	src: url('../fonts/Bitter-Italic.ttf');
}


body {
	margin:0;
	color: #111;
	background: #eee;
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
}

h3 {
	font-family: Bitter-Bold;
	font-size: 1.6em;
	margin: 1em 0;
	text-align: center;
}

h4 {
	font-family: Bitter-Bold;
	font-size: 1.35em;
	color
}

p {
	line-height: 1.3em;
}

img {
	border:0;
}

#logo {
	width:100%;
	max-width: 470px;
	*width: 470px;
}

#header {
	/*background: #EAEEF3 url(../img/topbg.png) top center no-repeat;*/
	background: #F0F3F7;
	/*min-height: 340px;*/
}

@media only screen and (min-width:1920px){
	#header {
		background-size: 100% 100%;
	}
}

.widesec {
	width:100%;
}

.contentwidth {
	max-width: 800px;
	*width: 800px;
	margin-left:auto;
	margin-right:auto;
	padding:0 7px;
}

#logosec {
	text-align:center;
	padding: 30px 5px 15px;
}

#logo {
	text-aign:center;
}

#omg {
	font-family: Bitter-Bold;
	font-size: 1.2em;
	text-align:center;

}

.omgbuttonarea {
	margin:13px 0 0;
}

.omgbutton {
	font-family: Arial,Helvetica,sans-serif;
	display: inline-block;
	background: #222299;
	background: linear-gradient(#3b98da,#2e86c6,#216595);
	border-radius:5px;
	color: #fff;
	font-weight:bold;
	font-size:.9em;
	line-height:1em;
	text-decoration:none;
	padding: 8px 15px;
	text-shadow: rgba(0,0,0,.4) 1px 1px;
	box-shadow: rgba(0,0,0,.15) 0 2px 0; 
}
.omgbutton:hover {
	background: linear-gradient(#50AFEA,#3597D3,#2D7FB2);
}

.moaromg {
	text-align:center;
	margin: 15px 0 30px;
}

.vmid {
	vertical-align:middle;
}


.hmid {
	text-align:center;
}



#orarrow {
	background: url(../img/or_arrow.png) top center no-repeat;
	min-height: 47px;
	padding-top:.2em;
}


h2.headline {
	font-family: Bitter-Bold, Georgia;
	font-weight:normal;
	box-shadow: rgba(0,0,0,.2) 2px 2px 0;
	background: #fff;
	display:inline-block;
	font-size: 1.5em;
	line-height: 1.1em;
	padding: .2em .5em .3em;
	margin: 0 0 .2em;
	z-index: 5;
	position: relative;
}


.count {
	font-family: Bitter-Bold;
	float: left;
	font-size: 5em;
	line-height: .7em;
	min-height: 1em;
	color: rgba(0,0,0,.3);
	text-shadow: rgba(255,255,255,.3) -2px -2px 1px;
}

.descmain {
	margin-left: 82px;
}

.clr {
	clear:both;
}


#why1, #why2, #why3 {
	position:relative;
	box-shadow: rgba(0, 0, 0, 0.28) 0 2px 1px;
	padding: 40px 0 0;
}
#why1 {
	/*background: linear-gradient(#EAEEF3,#BBC7DA);*/
	background: linear-gradient(#F0F3F7,#E5E9EE,#D7DBE2);
	
	z-index:5
}
#why2 {
	background: linear-gradient(#EEF3EE,#CFDFD1);
	z-index:4
}
#why3 {
	background: linear-gradient(#F0EFED,#E4DDD4);
	z-index:3
}


#floor1 ,#floor2,#floor3 {
	min-height: 30px;
	z-index:1;
}
#floor1 {
	background: linear-gradient(#CED5E2,#B6C0CC);
}
#floor2 {
	background: linear-gradient(#C6DACD,#C2D6CB);
}
#floor3 {
	background: linear-gradient(#DBD3C2,#DFD4C5);
}

.desctext {
	padding: 5px 0 10px;
	font-size:.9em;
	line-height: 1.2em;
	text-shadow: rgba(255,255,255,.5) -1px -1px 2px;
}

.whypic {
	margin-bottom:-35px;
	z-index:5;
	position:relative;
}

#whypic1 {
	margin-left:-24px;
}

#whypic3 {
	float: right;
	display: inline-block;
	margin-top: -40px;
	margin-right: -20px;
}

#whyheadline2 {
	max-width: 385px;
	*width: 385px;	
}

#whyheadline3 {
	max-width: 270px;
	*width: 270px;
}


#whypicimg1 {
	max-width:696px;
	width:100%;
}

#act {
	background: linear-gradient(#F3F3D1, #F5E88A);
	padding: 18px 0;
	box-shadow: rgba(0, 0, 0, 0.28) 0 2px 1px;
}


#actteaser {
	margin: 20px 0;
	font-size:.9em;
}

.indentarea {
	margin: 0 0 0 82px;
}


.indentarea2 {
	margin: 0 0 0 82px ;
}



#calliframe {
	overflow: hidden;
	height: 170px;
	width: 610px;
}

#nextmep {
	float: right;
	font-size: .8em;
}

footer {
	background-color: #444;
	color: #ccc;
	min-height:200px;
	margin-top: 80px;
	box-shadow: #000 0 10px 10px -8px inset;
	padding: 20px 0
}

#description {
}

	
#shareside {
	position: fixed;
	z-index: 10;
	top: 50%;
	left: 0;
	margin-top: -60px;
}
#shareside > ul {
	list-style:none;
	margin:0;
	padding:0;
	border: rgba(255,255,255,.5) 6px solid;
	border-left: none;
	border-radius: 0 3px 3px 0;
	box-shadow: rgba(0,0,0,.2) 1px 2px 0;
}
#shareside > ul >li,#shareside > ul >li>a>img {
	margin:0;
	padding:0;
	line-height: 0;
}

.ava-you,.ava-assistant  {
	display:inline-block;
}

.ava-you, .ava-assistant {
	font-weight: bold;
	color: #555;
}

.ava-you {
	float:left;
}

.ava-assistant {
	float:right;
}

.chat {
	max-width:650px;
	margin-left: 40px;
}

.bubble-assistant,
.bubble-you  {
	padding: 5px 10px;
	display:inline-block;
	max-width: 70%;
	position: relative;
	margin: 0 20px;
	border-radius: 3px;
	box-shadow: rgba(0,0,0,.2) 0 4px 3px -3px;
	font-size:.9em;
	text-shadow: rgba(255,255,255,.3) -1px 1px;
}

.bubble-you:before  {
	content: "";
	position: absolute;
	top: 5px;
	left: -16px;
	border-width: 12px 0 0 16px;
	border-style: solid;
	border-color: #D1DDEC transparent;
	display: block;
	width: 0;
}

.bubble-assistant:after {
	content: "";
	position: absolute;
	top: 5px;
	right: -16px;
	border-width: 12px 16px 0 0;
	border-style: solid;
	display: block;
	width: 0;
	border-color: #fff transparent;
}


.bubble-you  {
	background: #D1DDEC;
	float:left;
}

.bubble-assistant {
	background: #fff;
	float:right;
}


.actiontabs {
	float:left;
	box-shadow: rgba(0,0,0,.2) 0px 1px 3px;
	margin-top: 5px;
}

.actioncontent {
	float:left;
	background-color: #fff;
	box-shadow: rgba(0,0,0,.2) 0 2px 4px;
}

/*item*/
.actiontab {
	display: block;
	width: 60px;
	height: 50px;
	padding: 5px 0;
	text-align: center;
	background: #fafafa;
	background: linear-gradient(#fafafa,#eee);
	border-top: #fff 1px solid;
	border-bottom: #ccc 1px solid;
	color: #333;
	text-decoration:none;
}



.sharebt {
	padding: 4px 10px;
	color:white;
	display: inline-block;
	margin:3px;
	box-shadow: rgba(0,0,0,.2) 2px 2px;
	text-decoration:none;
	font-size: 14px;
	font-weight: bold;
}

.sm-fb {
	background: #3A5A98;
}
.sm-tw {
	background: #29A7DF;
}
.sm-gp {
	background: #CC3731;
}

th {
	background: #555;
	color: #eee;
	line-height: 1em;
	padding:.3em;
}
td {
	background: #fff;
	text-align:center;
	padding:2px 4px;
}

.thl {
	text-align:left;
	font-weight: bold;
}

.happened {
	text-decoration: line-through;
	color: #aaa;
}
.footerlogos {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.footerlogos > li {
	display:inline-block;
	margin: 10px 7px;
	text-align:center;
}

.footerlogos a {
	color: inherit;
	text-decoration:none;
	font-size: .9em;
}

#langswitch {
	float:right;
	font-size:.9em;
	line-height:1em;
}

#langswitch > ul {
	margin:5px;
	padding:0;
	list-style-type:none;
}

#langswitch > ul > li {
	color: #555;
	padding: 0 .5em;
	border-left: 1px solid #555;
	float:left;
}

#langswitch > ul > li:first-child {
	border-left: none;
}

#langswitch > ul > li  > a {
color: #555;
text-decoration:none;
}


@media screen and (max-width: 950px){
    #shareside {
		position: fixed;
		z-index: 10;
		top: inherit;
		right: 0;
		left:inherit;
		margin-top: 0;
		bottom: -5px;
	}
	
	#shareside > ul {
		border:0;
		display:inline-block;
		box-shadow: #000 0 0 3px;
	}
	
	#shareside > ul >li {
		float: left;
	}
	#shareside > ul >li>a>img {
		
	}
}
@media screen and (max-width: 770px){

	#whypic3 {
		margin:-100px 0 0;
		float:none;
	}
	#whyheadline3 {
		max-width: inherit;
	}
	
	.indentarea2 {
		margin: 0 20px;
	}
	
	.actiontabs {
		display:inline-block;
	}
	
	.actiontab {
		float:left;
		width: 140px;
		height:30px;
		border-left: #fff 1px solid;
		border-right: #ccc 1px solid;
	}
	.actiontab > img {
		vertical-align:middle;
	}
}
