

@font-face {
	font-family: Bitter-Bold;
	src: url('/fonts/Bitter-Bold.ttf');
}

@font-face {
	font-family: Bitter-Regular;
	src: url('/fonts/Bitter-Regular.ttf');
}

@font-face {
	font-family: Bitter-Italic;
	src: url('/fonts/Bitter-Italic.ttf');
}


body {
	margin:0;
	color: #111;
	background: #eee;
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
}

#logo {
	width:100%;
	max-width: 470px;
	*width: 470px;
}

#header {
	background: #EAEEF3 url(../img/topbg.png) top center no-repeat;
	min-height: 340px;
}

@media only screen and (min-width:1920px){
	#header {
		background-size: 100% 100%;
	}
}

.widesec {
	width:100%;
}

.contentwidth {
	max-width: 800px;
	*width: 800px;
	margin-left:auto;
	margin-right:auto;
	padding:0 7px;
}

#logosec {
	text-align:center;
	padding: 10px;
}

#logo {
	text-aign:center;
}

#omg {
	font-family: Bitter-Bold;
	font-size: 1.2em;
	text-align:center;

}

.omgbuttonarea {
	margin:13px 0 0;
}

.omgbutton {
	font-family: Arial,Helvetica,sans-serif;
	display: inline-block;
	background: #222299;
	background: linear-gradient(#3b98da,#2e86c6,#216595);
	border-radius:5px;
	color: #fff;
	font-weight:bold;
	font-size:.9em;
	line-height:1em;
	text-decoration:none;
	padding: 8px 15px;
	text-shadow: rgba(0,0,0,.4) 1px 1px;
	box-shadow: rgba(0,0,0,.15) 0 2px 0; 
}
.omgbutton:hover {
	background: linear-gradient(#50AFEA,#3597D3,#2D7FB2);
}

.vmid {
	vertical-align:middle;
}



#orarrow {
	background: url(/img/or_arrow.png) top center no-repeat;
	min-height: 47px;
	padding-top:.2em;
}


h2.headline {
	font-family: Bitter-Bold, Georgia;
	font-weight:normal;
	box-shadow: rgba(0,0,0,.2) 2px 2px 0;
	background: #fff;
	display:inline-block;
	font-size: 1.5em;
	line-height: 1.1em;
	padding: .2em .5em .3em;
	margin: 0 0 .2em;
	z-index: 5;
	position: relative;
}


.count {
	font-family: Bitter-Bold;
	float: left;
	font-size: 5em;
	line-height: .7em;
	min-height: 1em;
	color: rgba(0,0,0,.3);
	text-shadow: rgba(255,255,255,.3) -2px -2px 1px;
}

.descmain {
	margin-left: 82px;
}

.clr {
	clear:both;
}


#why1,#why2,#why3 {
	position:relative;
	box-shadow: rgba(0, 0, 0, 0.28) 0 2px 1px;
	padding: 20px 0 0;
}
#why1 {
	background: linear-gradient(#EAEEF3,#BBC7DA);
	z-index:5
}
#why2 {
	background: linear-gradient(#E7F1E7,#BCD1BE);
	z-index:4
}
#why3 {
	background: linear-gradient(#E7E3D6,#E9D7C0);
	z-index:3
}


#floor1 ,#floor2,#floor3 {
	min-height: 30px;
	z-index:1;
}
#floor1 {
	background: linear-gradient(#B3C2DD,#A4BBD8);
}
#floor2 {
	background: linear-gradient(#ABCEB8,#9AC7AF);
}
#floor3 {
	background: linear-gradient(#DBCDB3,#DFC59F);
}

.desctext {
	padding: 5px 0 10px;
	font-size:.9em;
	line-height: 1.2em;
	text-shadow: rgba(255,255,255,.5) -1px -1px 2px;
}

.whypic {
	margin-bottom:-35px;
	z-index:5;
	position:relative;
}

#whypic1 {
	margin-left:-24px;
}

#whypic3 {
	float: right;
	display: inline-block;
	margin-top: -20px;
	margin-right: -20px;
}

#whyheadline2 {
	max-width: 385px;
	*width: 385px;	
}

#whyheadline3 {
	max-width: 270px;
	*width: 270px;
}


#whypicimg1 {
	max-width:696px;
	width:100%;
}



#actteaser, #description {
	margin: 20px 0;
	font-size:.9em;
}

.indentarea {
	margin: 0 82px;
}


#calliframe {
	text-align:center;
}



footer {
	background-color: #444;
	color: #bbb;
	min-height:200px;
	margin-top: 80px;
	box-shadow: #000 0 10px 10px -8px inset;
	padding: 20px 0
}

#description {
}

	
#shareside {
	position:fixed;
	z-index:10;
	top:50%;
	margin-top:-60px;
	margin-left:-80px
}
#shareside > ul {
	list-style:none;
	margin:0;
	padding:0;
	border: rgba(255,255,255,.5) 6px solid;
	border-radius:3px;
	box-shadow: rgba(0,0,0,.2) 1px 2px 0;
}
#shareside > ul >li,#shareside > ul >li>a>img {
	margin:0;
	padding:0;
	line-height: 0;
}