@font-face {
	font-family: Montserrat-Regular;
	src: url('fonts/Montserrat-Regular.ttf');
}

@font-face {
	font-family: Montserrat-Bold;
	src: url('fonts/Montserrat-Bold.ttf');
}

@font-face {
	font-family: SourceSansPro-Regular;
	src: url('fonts/SourceSansPro-Regular.ttf');
}

@font-face {
	font-family: SourceSansPro-Black;
	src: url('fonts/SourceSansPro-Black.ttf');
}


body {
	margin:0;
	font-family: SourceSansPro-Regular, sans-serif;
	font-size: 16px;
	line-height: 1.2em;
	background:#fff;
	color: #666;
}

.countdown {
	font-size: 2em;
	font-weight: bold;
}

a {
	color:inherit;
}

h2 {
	font: 36px/40px Montserrat-Bold;
	border-bottom: 1px solid #fff;
	padding:4px 0;
	margin: 30px 0 10px;
	text-transform:uppercase;
	text-align:center;
}

h3 {
	font: 36px/40px Montserrat-Bold;
	padding:20px 0;
	margin: 0;
	text-align: center;
	position:relative;
	
}

h3:after {
	content: "";
	width: 200px;
	border-bottom: 4px solid #eb1c23;
	height: 5px;
	position: absolute;
	left: 50%;
	margin-left: -100px;
	bottom: 12px;
}

.divline {
	border-bottom: 1px solid #fff;
}

.divdash {
	border-bottom: 1px dashed #eb1c23;
	margin: 30px 0;
}

table {
	width:100%;
}
th, td {
	text-align:center;
	background: #fff;
}

th {
	background: #eb1c23;
	color: #fff;
}


th > h5 {
	margin: 4px;
}

td {
	font: 16px/18px Montserrat-Bold;
	color: #000;
	padding: 17px 20px;
}
td > a {
	color: #eb1c23;
	text-decoration:none;
}
.thl {
	background: #888;
	color: #fff;
	text-transform: uppercase;
	font: 12px/14px Montserrat-Regular;
	padding:7px;

}

.happened {
	color: #999
}

.pale {
	color: #666;
}

.alertbox h3:after {
	border-bottom: 4px solid #fff;
}


.whyblock > h4 {
	font: 20px/24px Montserrat-Regular;
	margin: 5px 0;
}


.ninesixty {
	_width: 960px;
	max-width: 960px;
	margin: 0 auto;
}

.seventwenty {
	_width: 720px;
	max-width: 720px;
	margin: 0 auto;
}
.sixforty {
	_width: 640px;
	max-width: 640px;
	margin: 0 auto;
}

.unstyle {
	color: inherit;
	text-decoration:inherit;
	list-style: none;
	margin: 0;
	padding: 0;
}


.clr {
	clear:both;
}

.ovhid {
	overflow:hidden;
	display: block;
}

.chat {
	background: #fff;
	padding:20px 30px;
}

.bubble-assistant {
	float: right;
	color: #444;
}
.bubble-you {
	float: left;
}
.bubble-you, .bubble-assistant {
	background: #e6e7e8;
	max-width: 77%;
	padding: 15px 30px;
	position:relative;
}

.bubble-assistant:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 20px 0px 0 20px;
	border-color: #E5E5E5 transparent;
	display: block;
	width: 0;
	z-index: 3;
	margin-left: -20px;
	bottom: -20px;
	right: 20px;
}

.bubble-you:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 20px 20px 0;
	border-color: #E5E5E5 transparent;
	display: block;
	width: 0;
	z-index: 3;
	margin-left: -11px;
	top: -20px;
	left: 30px;
}

/* Sections */

#header {
	text-align:center;
	color: #fff;
	padding: 150px 0 0;
	background: #eb1c23 url(../img/Homepage-Background.png) center center no-repeat;
}

.teaser {
	margin: 30px;
	font: 21px/1.2em SourceSansPro-Regular;
	text-align:center;
}

#takeactionbt {
	background: #fff;
}


.alertbox {
	background: #eb1c23;
	color: #fff;
	font: 18px/1.2em SourceSansPro-Regular;
}


#goalslist {
	max-width: 600px;
	margin: 0 auto;
}
#goalslist > li {
	margin: 30px 0;
}

.goalslisticon {
	float:left;
	overflow:hidden;
	margin: 0 15px 0 0;
}

.whyblocks {
	margin: 10px 5% 0;
	padding: 0 0 20px;
}

.whyblock {
	width: 28%;
	margin: 10px 2.5%;
	text-align: center;
	float: left;
}
.whyblock > p {
	font-size: 14px;
	line-height: 17px;
}

.whyimg {
	min-height: 160px;
	vertical-align:middle;
}

#netneutrality {
	padding: 80px 0 40px;
}

.description {
	color: #57585b;
	font: 16px/1.2em SourceSansPro-Regular, sans-serif;
}

#regulation, #howto {
	background: #e6e7e8;
	padding: 40px 0 80px;
	font-size: 14px;
	line-height: 16px;
}

#howto {
	padding: 40px 0 30px;
}

#contact {
	font-size: 14px;
	line-height: 16px;
}

#critics {
	background: #fff;
	font-size: 14px;
	line-height: 16px;
}

#act > .alertbox {
	padding: 10px 0 40px;
}

.callimg {
	_width: 800px;
	width:100%;
	max-width: 800px;
}

.actbox {
	background: #fff;
	margin-top:10px;
	color: #eb1c23;
	position:relative;
}

.actboxitem {
	margin: 0 0 0 158px;
	padding: 0 0 20px;
}

.nextmep {
	font: 16px Montserrat-Bold;
	cursor: pointer;
	display:inline-block;
	padding: 0 20px 20px 0;
	position:absolute;
	bottom:0;
	right:0;
}

#sharebox {
	text-align:center;
}
#sharebox > a {
	margin:10px;
	display:inline-block;
}

#bannerbox {
	max-width:719px;
	margin: 35px auto;
}

#bannerbt {
	margin-top:30px;
	width: 348px;
	float: left;
	text-align:center;
}

.mediacoverage td {
	background: #e6e7e8;
}


h4 {
	font: 24px/1.2em SourceSansPro-Regular;
	text-align: center;
}

h5 {
	font: 21px/1.2em SourceSansPro-Black;
	text-align: center;
	font-size: 18px;
}
h5:before, h5:after {
	content: " - ";
}


/* dividers */

.divbottomred {
	margin-bottom: 30px;
}

.divbottomred,.divbottomwhite,.divtopwhite  {
	position:relative;
}
.divtopwhite {
	padding-top: 5px;
}

.divbottomred:after,.divbottomwhite:after  {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 40px 40px 0;
	border-color: #eb1c23 transparent;
	display: block;
	width: 0;
	z-index: 1;
	bottom: -40px;
	left: 50%;
	margin-left:-40px;
}

.divbottomred:after {
	border-color: #eb1c23 transparent;
}

.divbottomwhite:after {
	border-color: #fff transparent;
}

.divtopwhite:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 40px 40px;
	border-color: #FFFFFF transparent;
	display: block;
	width: 0;
	z-index: 1;
	margin-left: -40px;
	top: -40px;
	left: 50%;
}

/* nav */

#navbar {
	position:fixed;
	width:100%;
	background: #fff;
	font: 14px/1.2em Montserrat-Bold;
	color: #808184;
	z-index: 10;
	box-shadow: rgba(0,0,0,.05) 0 5px;
}

#mainnav > ul > li {
	float: left;
}

#mainnav > ul > li > a {
	padding: 20px;
	display: inline-block;
	color: inherit;
	text-decoration:none;
}
#mainnav > ul > li > a:hover {
	padding-bottom: 10px;
	border-bottom: #eb1c23 10px solid;
}




#langnav {
	float:right;
	padding: 20px 0 10px;
}
#langselect {
	display:none;
	position:absolute;
	border-top: #eb1c23 10px solid;
	background: #fff;
	text-align:center;
	width: 95px;
	margin: 8px 0;
}
#langselect > li > a {
	padding: 4px;
	display:block;
	color: inherit;
	text-decoration:none;

}
#langselect > li > a:hover {
	color: #fff;
	background:#eb1c23;
}

#langnav:hover > #langselect {
	display:block;
}



#share {
	position:fixed;
	top:190px;
	left: 10px;
	z-index:11;
}

#share a {
	display: block;
	text-align: center;
	padding-top: 12px;
	text-decoration: none;
	font-size: 12px;
	line-height: 12px;
	height: 62px;
}

#tw_count_bg,#fb_count_bg,#gp_count_bg {
	width:40px;
	height:74px;
	margin-bottom:6px;
}

#tw_count_bg {
	background: url(../img/Twitter-Count.png) no-repeat;
}

#fb_count_bg {
	background: url(../img/Facebook-Count.png) no-repeat;
}
#gp_count_bg {
	background: url(../img/GooglePlus-Count.png) no-repeat;
}








footer {
	background: #111;
	color: #eee;
	margin-top:30px;
	padding: 20px 0;
}

.footerlogos {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	margin: 0;
}

.footerlogos > li {
	display:inline-block;
	margin: 15px;
	text-align:center;
}

.footerlogos a {
	color: inherit;
	text-decoration:none;
	font-size: .9em;
}


#bannervert {
	float:right;
	margin-bottom: 20px;
}

@media screen and (max-width: 770px){

	#share {
		display:none;
	}

	#mainnav > ul > li > a {
		padding: 20px 8px;
	}
	
	.whyblock {
		width: 95%;
		margin: 0 2.5%;
		float: none;
	}
	
	#langnav {
		margin-right:10px;
	}
	.nextmep {
		position: relative;
		margin-left: 40px;
	}
	
	#bannerbox {
		text-align:center;
	}
	#bannerbt {
		width: 90%;
		margin: 0 5% 30px;
	}
	#bannervert {
		float:none;
	}

	.actboxitem {
		margin: 0 0 0 40px;
		padding: 0 0 20px;
	}

}

@media screen and (max-width: 590px){
	.hide590 {
		display:none;
	}
}

ul.ui-autocomplete {
    list-style: none;
    list-style-type: none;
    text-decoration: none;
}

div.toggled_container {
	display: none;
}

a.button {
	border-color: red;
	border-width: 2px;
	padding: 5px;
	border: 3px;
}