
.icon-save-the-internet:before { content: '\e800'; } /* '' */
.icon-spin5:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-mail-alt:before { content: '\e803'; } /* '' */
.icon-thumbs-up:before { content: '\e804'; } /* '' */
.icon-thumbs-down:before { content: '\e805'; } /* '' */
.icon-pencil:before { content: '\e806'; } /* '' */
.icon-direction:before { content: '\e807'; } /* '' */
.icon-location:before { content: '\e808'; } /* '' */
.icon-share:before { content: '\e809'; } /* '' */
.icon-home:before { content: '\e80a'; } /* '' */
.icon-ok:before { content: '\e80b'; } /* '' */
.icon-users:before { content: '\e80c'; } /* '' */
.icon-pin:before { content: '\e80d'; } /* '' */
.icon-eye:before { content: '\e80e'; } /* '' */
.icon-eye-off:before { content: '\e80f'; } /* '' */
.icon-tag:before { content: '\e810'; } /* '' */
.icon-attach:before { content: '\e811'; } /* '' */
.icon-link:before { content: '\e812'; } /* '' */
.icon-quote-left:before { content: '\e813'; } /* '' */
.icon-quote-right:before { content: '\e814'; } /* '' */
.icon-bell-alt:before { content: '\e815'; } /* '' */
.icon-chat:before { content: '\e816'; } /* '' */
.icon-comment:before { content: '\e817'; } /* '' */
.icon-retweet:before { content: '\e818'; } /* '' */
.icon-rss:before { content: '\e819'; } /* '' */
.icon-trash:before { content: '\e81a'; } /* '' */
.icon-doc-text:before { content: '\e81b'; } /* '' */
.icon-cog-alt:before { content: '\e81c'; } /* '' */
.icon-wrench:before { content: '\e81d'; } /* '' */
.icon-menu:before { content: '\e81e'; } /* '' */
.icon-phone:before { content: '\e81f'; } /* '' */
.icon-down-dir:before { content: '\e820'; } /* '' */
.icon-up-dir:before { content: '\e821'; } /* '' */
.icon-down-open:before { content: '\e822'; } /* '' */
.icon-right-dir:before { content: '\e823'; } /* '' */
.icon-left-dir:before { content: '\e824'; } /* '' */
.icon-left-open:before { content: '\e825'; } /* '' */
.icon-right-open:before { content: '\e826'; } /* '' */
.icon-up-open:before { content: '\e827'; } /* '' */
.icon-angle-left:before { content: '\e828'; } /* '' */
.icon-angle-right:before { content: '\e829'; } /* '' */
.icon-angle-up:before { content: '\e82a'; } /* '' */
.icon-angle-down:before { content: '\e82b'; } /* '' */
.icon-cw:before { content: '\e82c'; } /* '' */
.icon-ccw:before { content: '\e82d'; } /* '' */
.icon-play:before { content: '\e82e'; } /* '' */
.icon-off:before { content: '\e82f'; } /* '' */
.icon-align-justify:before { content: '\e830'; } /* '' */
.icon-toggle-off:before { content: '\e831'; } /* '' */
.icon-toggle-on:before { content: '\e832'; } /* '' */
.icon-rocket:before { content: '\e833'; } /* '' */
.icon-floppy:before { content: '\e834'; } /* '' */
.icon-gauge:before { content: '\e835'; } /* '' */
.icon-hammer:before { content: '\e836'; } /* '' */
.icon-heart:before { content: '\e837'; } /* '' */
.icon-chart-pie:before { content: '\e838'; } /* '' */
.icon-chart-line:before { content: '\e839'; } /* '' */
.icon-twitter:before { content: '\e83a'; } /* '' */
.icon-youtube:before { content: '\e83b'; } /* '' */
.icon-reddit:before { content: '\e83c'; } /* '' */
.icon-google:before { content: '\e83d'; } /* '' */
.icon-cc:before { content: '\e83e'; } /* '' */
.icon-facebook:before { content: '\e83f'; } /* '' */
.icon-github-circled:before { content: '\e840'; } /* '' */
.icon-error-alt:before { content: '\e841'; } /* '' */
.icon-inbox:before { content: '\e842'; } /* '' */
.icon-laptop:before { content: '\e843'; } /* '' */
.icon-tablet:before { content: '\e844'; } /* '' */
.icon-cancel:before { content: '\e845'; } /* '' */